# dependency management
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/patches
!.yarn/sdks
.pnp.*

# transient files
*.log
*.tmp

# build artifacts
coverage
lib
artifacts
*.junit.xml

# IDE
.idea/
.vim/
.vscode/
