name: Release

on:
  workflow_dispatch:

env:
  CI: 1
  ARTIFACT_DIR: ./artifacts

jobs:
  release:
    name: Publish ESLint Config
    runs-on: ubuntu-20.04
    steps:
        - uses: actions/checkout@v2
          with:
            token: ${{ secrets.TOPHAT_BOT_GH_TOKEN }}
            fetch-depth: 0
        - uses: ./.github/actions/setup-env
        - name: Publish via Monodeploy
          if: github.ref == 'refs/heads/main'
          env:
            NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
            GH_TOKEN: ${{ secrets.TOPHAT_BOT_GH_TOKEN }}
          run: |
            yarn ts-node --transpileOnly $(yarn bin monodeploy) --config-file monodeploy.config.ts --log-level 0
        - name: Log Issues
          if: ${{ failure() }}
          run: |
            git status
        - name: Upload Artifacts
          uses: actions/upload-artifact@v2
          with:
            name: build-artifacts
            path: ${{ env.ARTIFACT_DIR }}
